* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #EBEBEB;
}
.container {
  margin-left: 5%;
  width: 80vw;
  background-color: #EBEBEB;
}

/* search */
.search {
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 80vw;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #bbb;
}

.searchForm {
  margin-left: 30px;
  background-color: white;
  width: 70%;
  border: white;
}

.searchIcon {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  height: 40px;
  cursor: pointer;
}

.searchText {
  border: none;
  width: 92%;
  height: 40px;
}

.cancelIcon {
  background-color: white;
  color: #bbb;
  border: none;
  height: 40px;
  cursor: pointer;
}

/* carousel */
.slider {
  margin-top: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adImage {
  width: 80vw;
  height: 200px;
  object-fit: cover;
}

.rightArrow {
  position: absolute;
  right: 32px;
  font-size: 2rem;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.rightArrow:hover {
  color: #717171;
  background-color: rgba(255, 255, 255, 0.7);
}

.leftArrow {
  position: absolute;
  left: 32px;
  font-size: 2rem;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.leftArrow:hover {
  color: #717171;
  background-color: rgba(255, 255, 255, 0.7);
}

.slide {
  opacity: 0;
  transition-duration: 0.6s;
}

.slide.active {
  opacity: 1;
  transition-duration: 0.6s;
}

.dotLocation {
  position: absolute;
  top: 170px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: #717171;
}

.dot:hover {
  background-color: #717171;
}

/* countdown */
.countDown {
  background-color: white;
  margin-top: 15px;
  padding: 6px;
}

/* productList */
.productList {
  display: flex;
  justify-content: space-between;
}

.productBlock {
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(6, 150px);
  column-gap: 15px;
}

.product {
  margin-top: 15px;
  width: 150px;
  height: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  width: 130px;
  cursor: pointer;
}

.productName {
  margin-top: 10px;
}

.productType {
  margin-top: 15px;
}

.sticky {
  position: sticky;
  top: 95px;
}

.type {
  background-color: white;
  margin-bottom: 10px;
  padding: 2px 15px 2px 15px;
  border: black 1px solid;
  cursor: pointer;
}

/* modal */
.modalbg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeIcon {
  cursor: pointer;
  position: absolute;
  color: white;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  z-index: 10;
}

.closeIcon:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

.goTop {
  position: fixed; 
   width:50px;
   right: 100px;
   bottom: 40px;
   height: 50px;
   z-index: 1;
   cursor: pointer;
   color: black;
}